#hero {
    height: 600px;
    background-image: url(images/places/niceass.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

#hero-content {
    width: fit-content;
    padding: 50px 100px;
    margin: 0 auto;
    background-color: rgba(49, 49, 49, 0.699);
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    top: 200px;
}

#hero-content h1 {
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin:0;
}

#hero-content p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 10px 0;
    padding: 0;
    margin-bottom:30px;
}

#hero-content a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(251, 255, 15, 0.555);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(68,67,67);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

#hero-content a:hover {
    background-color: rgb(251, 255, 15);
}

#highlights {
    width: 100%;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#highlights h2{
    margin: 40px auto 30px auto;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

#destinations{
    width : 90%;
    padding : 0 auto;
    display : flex;
    justify-content: center;
    list-style: none;
}

.destination{
    margin : auto;
    margin: 0, 20px;
}

.destination p{
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
}

.destination img { 
    Height: 200px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(68,67,67);
    object-fit: cover;
}

